<div class="login-page fondo">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <img width="100%" src="assets/Logotipo.png"/>
            </div>
            <div class="card-body">
                <div class="recover-password-container">
                    <h2 class="title">Recuperar contraseña</h2>
                    <form action="#" [formGroup]="form" (ngSubmit)="sendNewPassword()" method="post">
                        <div class="form-group">
                            <label for="newPassword">Nueva contraseña:</label>
                            <input type="password" id="newPassword" name="newPassword" class="form-control" formControlName="password" required>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirmar nueva contraseña</label>
                            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" formControlName="confirmPassword" required>
                        </div>
                        <div class="row text-center">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary amarillo">Confirmar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>
