

<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="content-wrapper">
  <div>
      <div class="card-header">
          <div class="row">
            <h3 class="card-title">Visualizador</h3>
          </div>
          <button *ngIf="rol=='1'" type="button" class="btn btn-default" data-toggle="modal" data-target="#WMSModal">Agregar WMS </button>
        
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="caret"><i class="fa fa-list-ul"></i>  Capas Base</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <!-- <li><button (click)="changeStyle('streets')" type="button" name="" id="" class="btn btn-primary btn-block">Simple</button></li> -->
              <li><a (click)="changeStyle('OSM')">OpenStreetMap</a></li>
              <li><a (click)="changeStyle('argenmap')">ArgenMap</a></li>
              <li><a (click)="changeStyle('argenmapgris')">ArgenMap gris</a></li>
              <li><a (click)="changeStyle('argenmaposcuro')">ArgenMap oscuro</a></li>
              <li><a (click)="changeStyle('argenmaptopo')">ArgenMap Topo</a></li>
              <li><a (click)="changeStyle('watermark')">Acuarela</a></li>
              <li><a (click)="changeStyle('arcgis')">ESRI Satelite</a></li>
              <li><a (click)="changeStyle('GSatelite')">Google Satelite</a></li>
              <li><a (click)="changeStyle('streets')">Simple</a></li>
            </ul>
          </div>
          
      </div>
  </div>
  <div id="div-map" class="map-container">
  </div>
  <app-visualizadorcapas></app-visualizadorcapas>
</div>

<!-- Modal -->
<div class="modal fade" id="WMSModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="exampleModalLabel">Agregar Capa WMS externa</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
      </div>
      <div class="modal-body">
        <form action="#" [formGroup]="form_WMS" (ngSubmit)="pasaCapaWMS()"  method="post">
          <label class="form-label">Nombre para la capa</label>
              <input required  required="required" class="form-control" formControlName="nombreWMS" id="nombreWMS" value="vuelo">
              <label class="form-label">URL del servicio</label>
              <input required required="required" class="form-control" formControlName="URLWMS" id="URLWMS" value="https://imagenes.ign.gob.ar/geoserver/gwc/service/wms">
              <label class="form-label">Recurso (Capa)</label>
              <input required required="required" class="form-control" formControlName="capaWMS" id="capaWMS" value="mosaicos_vuelos_vant">
             <!--  <button (click)="agregaCapaWMS()" type="button" class="btn btn-default">
                Agrega capa WMS <span class="caret"></span>
              </button> -->
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" (click)="pasaCapaWMS()" class="btn btn-primary" data-dismiss="modal">Agregar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="DetalleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="exampleModalLabel">Detalle</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
      </div>
      <div class="modal-body">
        <!-- Iterar sobre featuresArray y mostrar los detalles -->
        <div *ngFor="let feature of featuresArray">
          <p><strong>ID:</strong> {{ feature.id }}</p>
          <p><strong>Tipo:</strong> {{ feature.tipo }}</p>
          <p><strong>Diámetro:</strong> {{ feature.diametro }} mm</p>
          <p><strong>Material:</strong> {{ feature.material }}</p>
          <p><strong>Fecha:</strong> {{ feature.fecha }}</p>
          <p><strong>Profundidad:</strong> {{ feature.profundidad }} m</p>
          <p><strong>Longitud:</strong> {{ feature.longitud }} m</p>
          <p><strong>Comentario:</strong> {{ feature.comentario || 'N/A' }}</p>
          <p><strong>Capa:</strong> {{ feature.layer }}</p>
          <p><strong>Coordenadas:</strong></p>
          <ul>
            <li *ngFor="let coord of feature.coordinates">
              Lat: {{ coord[1] }}, Lng: {{ coord[0] }}
            </li>
          </ul>
          <hr />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <!-- <button type="button" (click)="pasaCapaWMS()" class="btn btn-primary" data-dismiss="modal">Agregar</button> -->
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
